.maincontainer {
  margin: 0 !important;
   min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
     margin-top: 11rem;
}
.othercontainer{
    background: #f5f6fa ;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #F5F7FB;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #2157F4, #4A6CF7);
    border-radius: 10px;
    border: 2px solid #F5F7FB;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #1747D8, #2157F4);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #2157F4 #F5F7FB;
}
@media (max-width:992px){
    .main-content{
        margin-top: 20rem;
    }
}