<div class="medicine-page">

    <div class="medicine-container">

        <div class="medicine-header">

            <div class="title-section">
                <div class="medicine-icon">
                    <img src="assets/images/medicine-icon.png" alt="">
                </div>

                <h2>Medicine Orders</h2>
            </div>



        </div>


        <div class="top-controls">

            <div class="summary-section">

                <div class="summary-card total">
                    <img src="assets/images/orders-icon.png">
                    <div>
                        <h6>Total</h6>
                        <h3 id="totalOrders">{{totalOrders}}</h3>
                        <p>Orders</p>
                    </div>
                </div>

                <div class="summary-card ready">
                    <img src="assets/images/ready-icon.png">
                    <div>
                        <h6>Ready</h6>
                        <h3 id="readyOrders">{{readyOrders}}</h3>
                        <p>For pickup</p>
                    </div>
                </div>

                <div class="summary-card transit">
                    <img src="assets/images/transit-icon.png">
                    <div>
                        <h6>In Transit</h6>
                        <h3 id="transitOrders">{{transitOrders}}</h3>
                        <p>On the way</p>
                    </div>
                </div>

            </div>
            <div class="header-actions">

                <div class="search-box">
                    <input type="text" id="searchInput" placeholder="Search by medicine or order..."
                        [(ngModel)]="searchText" (input)="onSearchChange()">

                    @if(searchText) {
                    <span class="clear-icon" (click)="clearSearch()">✖</span>
                    }
                </div>

                <select id="sortSelect" class="sort-select" [(ngModel)]="sortValue" (change)="onSortChange()">
                    <option value="" disabled selected>Sort By</option>
                    <option value="nameAsc">Name A-Z</option>
                    <option value="nameDesc">Name Z-A</option>
                    <option value="ready">Ready Orders</option>
                    <option value="transit">In Transit Orders</option>
                    <option value="newest">Newest Order Date</option>
                    <option value="oldest">Oldest Order Date</option>
                </select>

            </div>
        </div>
        <div class="medicine-table-wrapper">

            <div class="table-header">

                <div>Patient Name</div>
                <div>Medicine Details</div>
                <div>Instructions</div>
                <div>Order Details</div>
                <div>Request Refill</div>
                <div>Pharmacy Information</div>
                <div>Status</div>
                <div>Action</div>

            </div>
            <div id="ordersContainer">


                <div class="order-card" *ngFor="let order of pagedOrders">

                    <div class="patient">

                        <img [src]="order.image">

                        <div>
                            <h5 class="patientName">{{ order.patient }}</h5>
                        </div>

                    </div>

                    <div>
                        <b>{{ order.medicine }}</b>
                        <br>
                        {{ order.strength }}
                    </div>

                    <div>
                        {{ order.instructions }}
                    </div>

                    <div>

                        <b>{{ formatDate(order.date) }}</b>
                        <br>

                        {{ order.doctor }}

                    </div>

                    <div>


                        @if(order.refill){
                        <button class="refill-btn" (click)="requestRefill(order)">

                            <img src="assets/images/refill-icon.png" alt="">
                            <span>Request Refill</span>

                        </button>

                        }

                        @if(!order.refill){
                        <span>
                            N/A
                        </span>

                        }

                    </div>

                    <div class="pharmacy-info">

                        <a (click)="openMap(order.address)">

                            <img src="assets/images/location-icon.png" class="location-icon">

                        </a>

                        <span>
                            {{ order.address }}
                        </span>

                    </div>

                    <div>

                        <span [ngClass]="{
              'status-ready': order.status === 'Ready',
              'status-transit': order.status === 'In Transit'
            }">

                            {{ order.status }}

                        </span>

                    </div>

                    <div>

                        <button class="details-btn" (click)="showDetails(order)">

                            View Details

                        </button>

                    </div>

                </div>

            </div>
        </div>


    </div>




    <div class="pagination-wrapper">

        <button id="prevBtn" (click)="prevPage()">
            ←
        </button>

        <span id="pageNumber">{{currentPage}}</span>

        <button id="nextBtn" (click)="nextPage()">
            →
        </button>

    </div>



</div>



@if (isShowDetailMedicin) {
<div class="modal fade show d-block custom-modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title">Prescription &amp; Order Summary</h4>

                <button type="button" class="btn-close" (click)="closeMedicineDetails()"></button>
            </div>

            <!-- Body -->
            <div class="modal-body" id="printArea">

                <h2 class="prescription-title">
                    Medicine Prescription
                </h2>

                <hr>

                <div class="details-grid">

                    <div class="detail-row">
                        <span class="label">Patient Name:</span>
                        <span class="value">{{selectedOrder.patient}}</span>
                    </div>

                    <div class="detail-row">
                        <span class="label">Medicine:</span>
                        <span class="value">{{selectedOrder.medicine}}</span>
                    </div>

                    <div class="detail-row">
                        <span class="label">Strength:</span>
                        <span class="value">{{selectedOrder.strength}}</span>
                    </div>

                    <div class="detail-row">
                        <span class="label">Instructions:</span>
                        <span class="value">
                            {{selectedOrder.instructions}}
                        </span>
                    </div>

                    <div class="detail-row">
                        <span class="label">Doctor:</span>
                        <span class="value">{{selectedOrder.doctor}}</span>
                    </div>

                    <div class="detail-row">
                        <span class="label">Order Date:</span>
                        <span class="value">{{selectedOrder.date | date:'d-MMM-yyyy' }}</span>
                    </div>

                    <div class="detail-row">
                        <span class="label">Pharmacy:</span>
                        <span class="value">{{selectedOrder.address}}</span>
                    </div>

                    <div class="detail-row">
                        <span class="label">Status:</span>
                        <span class="value ready">{{selectedOrder.status}}</span>
                    </div>

                </div>

            </div>

            <!-- Footer -->
            <div class="modal-footer">

                <button class="btn details-btn" (click)="downloadPDF()">
                    Download PDF
                </button>

                <button class="btn btn-primary" (click)="printDetails()">
                    Print
                </button>

            </div>

        </div>
    </div>
</div>
}