<div class="forgot-wrapper">

    <div class="forgot-card success-card">

        <div class="brand">

            <img src="assets/images/logo.png" alt="MyMediBook Logo">

            <div class="brand-text">

                <span class="black-text">My</span>
                <span class="green-text">Medi</span>
                <span class="blue-text">Book</span>

            </div>

        </div>


        <div class="success-animation">

            <span class="confetti dot1"></span>
            <span class="confetti dot2"></span>
            <span class="confetti dot3"></span>
            <span class="confetti dot4"></span>
            <span class="confetti dot5"></span>
            <span class="confetti dot6"></span>
            <span class="confetti dot7"></span>
            <span class="confetti dot8"></span>

            <div class="success-circle">

                <img src="assets/images/check.png" alt="Success">

            </div>

        </div>



        <h1>{{ displayData?.h1 }}</h1>

        <p class="description">

            {{ displayData?.span }}

            <br>

            {{ displayData?.p }}

        </p>


        <button type="button" class="send-btn" id="loginBtn" routerLink="{{ displayData?.route }}">

            {{ displayData?.buttonText }}

            <img src="/assets/images/front-office/images/arrow-right.png" alt="Arrow">

        </button>


        <p class="support-text">

            Need help?

            <a href="#">

                Contact Support

            </a>

        </p>

    </div>

</div>