<div class="container-fluid main-div vh-100">
  <div class="row g-0 h-100">
    <div
      class="left-panel d-flex flex-column justify-content-between align-items-center text-center text-white"
    >
      <h1 class="left-title">Doctors Just a Click Away.</h1>

      <img src="assets/images/doctor.png" alt="Doctor" class="doctor-img" />

      <p class="left-footer">Welcome to My Medi Book</p>
    </div>

    <div class="right-panel">
      <div class="form-container">
        <div class="logo">
          <img src="assets/images/logo1.png" alt="Logo" />
          <span>My <strong>Medi</strong> Book</span>
        </div>

        <h2>WELCOME BACK</h2>
        <p class="subtitle">Please login to your account</p>

        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="input-group">
            <label>Username</label>
            <input
              class="rounded-3"
              type="text"
              formControlName="username"
              placeholder="Enter your username"
              required
            />
            <div *ngIf="f.username.touched && f.username.invalid" class="text-danger">
              <small *ngIf="f.username.errors?.['required']"> Username is required </small>
              <!-- <small *ngIf="f.username.errors?.['minlength']">
                Minimum 3 characters required
              </small> -->
            </div>
          </div>

          <div class="input-group">
            <label>Password</label>
            <input
              class="rounded-3"
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Enter your password"
              required
            />
            <div class="password-wrapper">
              <img
                src="assets/images/show.png"
                class="toggle-password"
                (click)="togglePassword()"
              />
            </div>
            <div *ngIf="f.password.touched && f.password.invalid" class="text-danger">
              <small *ngIf="f.password.errors?.['required']"> Password is required </small>
              <!-- <small *ngIf="f.password.errors?.['minlength']">
                Minimum 6 characters required
              </small> -->
            </div>
          </div>

          <div class="options">
            <div class="remember">
              <input type="checkbox" formControlName="remember" />
              <label>Remember me</label>
            </div>

            <a routerLink="/forgot-password" class="forgot">Forgot password?</a>
          </div>

          <button type="submit" class="login-btn">Login</button>
          <div id="googleBtn">
            <button type="button" class="google-btn" (click)="loginWithGoogle()">
              <img src="assets/images/google.png" alt="Google" />
              Sign in with Google
            </button>
          </div>

          <p class="signup-text">
            Don’t have an account?
            <a [routerLink]="['/sign-up']">Sign Up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
