<div class="toast-container">

    @for(toast of toastService.toasts(); track toast.id){

    <div class="toast" [class]="toast.type">

        <!-- Left Accent Line -->
        <div class="accent"></div>

        <!-- Icon -->
        <div class="icon">
            {{ getIcon(toast.type) }}
        </div>

        <!-- Content -->
        <div class="content">

            <div class="title">
                {{ toast.title }}
            </div>

            <div class="message">
                {{ toast.message }}
            </div>

            <!-- Progress -->
            <div class="progress">
                <div class="progress-bar"></div>
            </div>

        </div>

        <!-- Close Button -->
        <button class="close" (click)="toastService.remove(toast.id)">

            ✕

        </button>

    </div>

    }

</div>