<section class="form-step" data-step="3">
    <h2>Employment Details</h2>

    <div class="form-layout compact" [formGroup]="group">
        <label for="joiningDate">Date of Joining<span class="star">*</span></label>
        <div class="field-with-icon compact-field">
            <div class="field-container">
                <input id="joiningDate" formControlName="joiningDate" type="date" [min]="todayDate" required>
                @if(group.get('joiningDate')?.touched &&
                group.get('joiningDate')?.hasError('required')) {
                <div class="error-message">
                    Joining date is required
                </div>
                }
            </div>

        </div>

        <label for="employeeType">Employee Type<span class="star">*</span></label>

        <div class="field-container">
            <div class="field-with-action compact-field medium-field">
                <select id="employeeType" formControlName="employeeType" required>
                    <option value="">(e.g., Part Time / Full Time)</option>
                    <option>Part Time</option>
                    <option>Full Time</option>
                    <option>Contract</option>
                </select>
                <span class="field-action">⌄</span>
            </div>

            @if(group.get('employeeType')?.touched &&
            group.get('employeeType')?.hasError('required')) {
            <div class="error-message">
                The emplyee type is required
            </div>
            }
        </div>

        <label for="role">Role<span class="star">*</span></label>

        <div class="field-container">
            <div class="field-with-action compact-field">
                <select id="gender" formControlName="roleId" required>
                    <option [ngValue]="null">Select Role Name</option>
                    @for(role of roles; track role.roleId) {
                    <option [value]="role?.roleId"> <b>{{ role.roleName }}</b> {{ role.description }}</option>
                    }
                </select>
                <span class="field-action">⌄</span>
            </div>
            @if(group.get('roleId')?.touched &&
            group.get('roleId')?.hasError('required')) {
            <div class="error-message">
                Role is required
            </div>
            }

        </div>



        <label for="departmentName">Department<span class="star">*</span></label>

        <div class="field-container">
            <div class="field-with-action compact-field">
                <select id="gender" formControlName="departmentId" required>
                    <option [ngValue]="null">Select Department Name</option>
                    @for(dep of departments; track dep.departmentId) {
                    <option [value]="dep?.departmentId">{{ dep.departmentName }}</option>
                    }
                </select>
                <span class="field-action">⌄</span>
            </div>
            @if(group.get('departmentId')?.touched &&
            group.get('departmentId')?.hasError('required')) {
            <div class="error-message">
                Department name is required
            </div>
            }

        </div>

        @if(designations && designations.length > 0) {
        <label for="departmentName">Designation<span class="star">*</span></label>

        <div class="field-container">
            <div class="field-with-action compact-field">
                <select id="gender" formControlName="designationId" required>
                    <option [ngValue]="null">Select Designation Name</option>
                    @for(des of designations; track des.designationId) {
                    <option [value]="des?.designationId">{{ des.designationName }}</option>
                    }
                </select>
                <span class="field-action">⌄</span>
            </div>
            @if(group.get('designationId')?.touched &&
            group.get('designationId')?.hasError('required')) {
            <div class="error-message">
                Designation name is required
            </div>
            }

        </div>

        }

        @if(speciality && speciality.length > 0) {
        <label for="designation">Speciality<span class="star">*</span></label>

        <div class="field-container">
            <div class="field-with-action compact-field">
                <select formControlName="specialityId" required>
                    <option value="">Select Speciality Name</option>
                    @for(spe of speciality; track spe.specialityId) {
                    <option [value]="spe?.specialityId">{{ spe.specialityName }}</option>
                    }
                </select>
                <span class="field-action">⌄</span>
            </div>
            @if(group.get('specialityId')?.touched &&
            group.get('specialityId')?.hasError('required')) {
            <div class="error-message">
                Speciality name is required
            </div>
            }

        </div>

        }






    </div>

    <div class="wizard-actions between">
        <button type="button" class="secondary-action wide" data-prev (click)="back.emit()">Back</button>
        <button type="submit" class="primary-action" (click)="submit()">Submit</button>
    </div>
</section>