<div class="family-dashboard">

  <!-- Search Section -->
  <div class="search-section">
    <h2 class="title2 py-1">Family Member Appointments</h2>



  </div>

  <div class="dashboard-card">

    <div class="table-header">

      <div class="search-box">
        <ng-select [items]="relativeList()" bindLabel="fullName" placeholder="Select family member..."
          [searchable]="true" [clearable]="true" [ngModel]="selectedMember()"
          (ngModelChange)="selectedMember.set($event)">

          <ng-template ng-label-tmp let-item="item">
            {{ item.fullName }}
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div class="member-card" [class.active]="selectedMember()?.profileId === item.profileId">

              <div class="member-avatar">
                {{ item.fullName.charAt(0) }}
              </div>

              <div>
                <h4>{{ item.fullName }}</h4>
                <span>{{ item.relationTypeName }}</span>
              </div>

            </div>
          </ng-template>

        </ng-select>

        <div>
          @if(selectedMember()){

          <div class="category">
            Appointments Of {{ selectedMember().fullName }}
          </div>
          }

        </div>
        <button class="new-btn" (click)="goToSpecialities()">
          📅 New Appointment
        </button>

      </div>



    </div>

    <div class="table-responsive">
      <table class="appointment-table">
        <thead>
          <tr>
            <th (click)="sortTable('visitPurpose')">
              Visit Purpose
              <span class="sort-icon">{{getSortIcon('visitPurpose')}}</span>
            </th>

            <th (click)="sortTable('patientName')">
              Patient Name
              <span class="sort-icon">{{getSortIcon('patientName')}}</span>
            </th>

            <th (click)="sortTable('appointmentDate')">
              Appointment Date
              <span class="sort-icon">{{getSortIcon('appointmentDate')}}</span>
            </th>

            <th (click)="sortTable('slotStartTime')">
              Appointment Time
              <span class="sort-icon">{{getSortIcon('slotStartTime')}}</span>
            </th>


            <th (click)="sortTable('doctorName')">
              Dr. Name
              <span class="sort-icon">{{getSortIcon('doctorName')}}</span>
            </th>

            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          @for (item of paginatedAppointments(); track $index) {
          <tr [class.highlight]="item.relationTypeName === 'Self'">
            <td>
              {{ item.visitType }}
            </td>

            <td>
              {{ item.patientName }}
            </td>

            <td>
              {{ item.appointmentDate | date:'d-MMM-yyyy' }}
            </td>

            <td>
              {{ item.slotStartTime }}
            </td>

            <td>
              {{ item.doctorName }}
            </td>

            <td>
              <span class="status-badge" [ngClass]="getStatusClass(item.appointmentStatus)">
                {{ item.appointmentStatus }}
              </span>
            </td>

            <td>

              <button class="btn btn-primary btn-sm me-2" (click)="rescheduleAppointment(item)">
                Reschedule
              </button>
              @if( item.appointmentStatus !== 'Cancelled'){
              <button class="btn btn-danger btn-sm" (click)="cancelAppointment(item)">
                Cancel
              </button>
              }
            </td>

          </tr>

          }

        </tbody>
      </table>

    </div>

    <div class="pagination-wrapper">

      <button id="prevBtn" (click)="previousPage()" [disabled]="currentPage() === 1">
        ←
      </button>

      <span id="pageNumber"> {{ currentPage() }}
      </span>

      <button id="nextBtn" (click)="nextPage()" [disabled]="currentPage() === totalPages()">
        →
      </button>

    </div>

  </div>



</div>