
.speciality-container {
    padding: 30px;
    background: #f5f7fb;
}

.title2 {
    text-align: center;
    margin-bottom: 20px;
    background: #e2e7ef;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 50%;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.search-bar button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: none;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(135deg, #4A6CF7, #3B5BDB);
    color: white;
    cursor: pointer;
}

.search-bar button img {
    width: 16px;
}

.category {
    background: #3b5bdb;
    color: white;
    padding: 10px;
    margin: 25px 0 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
}

.doctor-card {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.25s;
}

.doctor-card:hover {
    transform: scale(1.01);
}

.doc-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.doc-img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}

.doc-info p {
    margin: 4px 0;
}

.badge {
    background: #3b5bdb;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.doc-right {
    text-align: right;
}

.doc-right h3 {
    margin-top: 8px;
}

.arrow {
    margin-top: 10px;
    font-size: 18px;
}

.speciality-container {
    padding: 10px 30px 30px;
}