
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif !important;
}


html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #1c1c1c;
}


body {
    background: #f5f6fa;
}


input,
select,
textarea,
button,
option {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}


::placeholder {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: #999;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}


button {
    cursor: pointer;
}

.iti,
.iti * {
    font-family: 'Source Sans Pro', sans-serif !important;
}


.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 10px;

    font-size: 15px;
    color: #5a5a5a;
    font-weight: 400;

    margin-top: 20px;  
    padding-right: 40px; 
}
.footer-label {
    color: #5f5f5f;
}

.footer-brand {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #666;
    white-space: nowrap;
}

.footer img {
    width: 26px; 
    height: 26px;
}

.footer-brand-name {
    letter-spacing: 0.1px;
}

