<div class="otp-wrapper">
    @if(!isOtpSent && !isOtpVerified){
    <div class="otp-card">

        <h1>FORGOT PASSWORD</h1>

        <p class="otp-subtext">
            Enter your registered email or mobile number<br>
            to receive OTP.
        </p>


        <div class="forgot-input">
            <input type="text" id="userInput" placeholder="Enter your registered Email / Mobile Number">
        </div>


        <button class="btn-primary" id="sendOtpBtn" (click)="sendOtp()">Send OTP</button>


        <p class="back-text">
            Back to <a routerLink="/login">Login</a>
        </p>

    </div>

    }
    @if(isOtpSent ){
    <div class="otp-card-verification">

        <h1>OTP VERIFICATION</h1>

        <p class="otp-subtext">
            Please enter the OTP send to your registered<br>
            mobile number / e-mail account.
        </p>


        <div class="otp-box">
            @for (item of otpArray; track $index) {

            <input #otpInput type="tel" maxlength="1" class="otp-input" (input)="moveNext($event, $index)"
                (keydown)="movePrevious($event, $index)" />

            }

        </div>


        <div class="otp-info">
            <span>Remaining time: <b>{{timer}}</b></span>
            <span>Didn’t get the code? <a class="cursor-pointer" (click)="resendOtp()">Resend</a></span>
        </div>


        <button class="btn-primary" (click)="verifyOtp()">Verify</button>
        <button class="btn-outline" routerLink="/login">Cancel</button>

    </div>
    }
    @if(isOtpVerified){
    <div class="otp-card-reset">

        <h1>RESET PASSWORD</h1>

        <p class="otp-subtext">
            Enter your new password and confirm it to reset your account.
        </p>


        <div class="input-group">
            <input [type]="showNewPassword ? 'text' : 'password'" placeholder="New Password"
                [(ngModel)]="newPassword" />
            @if(newPassword){

            <span class="password-wrapper">
                @if(showNewPassword) {
                <img src="assets/images/hide.png" class="toggle-password" (click)="toggleNewPassword()" />

                }@else {
                <img src="assets/images/show.png" class="toggle-password" (click)="toggleNewPassword()" />

                }

            </span>
            }
            @if (newPasswordError) {
            <small class="error">{{ newPasswordError }}</small>
            }
        </div>

        <div class="input-group">
            <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"
                [(ngModel)]="confirmPassword" />
            @if(confirmPassword){
            <span class="password-wrapper">
                @if(showConfirmPassword) {
                <img src="assets/images/hide.png" class="toggle-password" (click)="toggleConfirmPassword()" />

                }@else {
                <img src="assets/images/show.png" class="toggle-password" (click)="toggleConfirmPassword()" />

                }
            </span>
            }
            @if (confirmPasswordError) {
            <small class="error">{{ confirmPasswordError }}</small>
            }
        </div>


        <button class="btn-primary" (click)="resetPassword()">Reset Password</button>

        <button class="btn-outline" routerLink="/login">
            Cancel
        </button>

    </div>
    }




</div>