<div class="otp-page">

    <div class="otp-main-container">

        <h1 class="otp-title">
            OTP VERIFICATION
        </h1>

        <div class="otp-card">

            <div class="otp-icon">
                <img src="assets/images/otp-icon.png" class="otp-icon-img">
            </div>

            <div class="otp-heading">

                <h2>
                    OTP sent to <br>
                    {{ otpDevice.value }}
                </h2>

            </div>

            <p class="otp-desc">
                Please enter the 4-digit OTP sent
                to your {{ otpDevice.otpDevice }}.
            </p>

            <div class="otp-input-group">

                @for (item of otp; track $index; let i = $index) {

                <input #otpInput maxlength="1" class="otp-input" [value]="otp[i]" (input)="onInput($event, i)"
                    (keydown)="onKeyDown($event, i)" />

                }

            </div>

            <div class="otp-bottom">

                <div>
                    Remaining time:
                    <span class="timer">
                        {{ formattedTime }}
                    </span>
                </div>

                <div>
                    Didn’t get the code?

                    <span class="resend" (click)="resetTimer()">

                        Resend

                    </span>
                </div>

            </div>

        </div>

        <!-- SUMMARY -->

        <div class="summary-card">

            <div class="summary-item appointment-item">

                <div class="appointment-icon-wrapper">

                    <img src="assets/images/calendar-icon.png" class="appointment-icon">

                </div>

                <div>

                    <div class="summary-label">
                        Appointment With
                    </div>

                    <div class="summary-value">
                        {{ doctor?.name }}
                    </div>

                </div>

            </div>



            <div class="summary-item">

                <div class="summary-label">
                    Date & Time
                </div>

                <div class="summary-value">
                    {{ selectedDate }} • {{ selectedSlot }}
                </div>

            </div>

            <div class="summary-item">

                <div class="summary-label">
                    Department
                </div>

                <div class="summary-value">
                    {{ doctor?.department }}
                </div>

            </div>

        </div>

        <div class="security-box">

            <img src="assets/images/security-icon.png" class="security-icon">

            <span>
                For your security,
                do not share OTP with anyone.
            </span>

        </div>

        <div class="action-buttons">

            <button class="verify-btn" (click)="verifyOtp()">

                <img src="assets/images/calendar-white.png" class="btn-icon">

                <span>
                    Verify & Book Appointment
                </span>

            </button>

            <button class="cancel-btn" (click)="cancelOtp()">

                Cancel

            </button>

        </div>

    </div>

</div>