<div class="billing-page">

    <div class="billing-container">

        <!-- Header -->
        <div class="billing-header">

            <div class="title-section">

                <div class="billing-icon">
                    <img src="/assets/images/billing-icon.png" alt="">
                </div>

                <h2>Billing</h2>

            </div>

            <div class="header-actions">

                <div class="search-box">

                    <img src="/assets/images/search-icon.png" alt="Search" class="search-icon">

                    <input type="text" placeholder="Search by patient, doctor or clinic..." [ngModel]="searchText()"
                        (ngModelChange)="searchText.set($event); searchBills()">

                </div>

                <select class="sort-select" [ngModel]="sortValue()"
                    (ngModelChange)="sortValue.set($event); sortBills()">

                    <option value="" disabled>Sort By</option>
                    <option value="nameAsc">Patient A-Z</option>
                    <option value="nameDesc">Patient Z-A</option>
                    <option value="newest">Newest Visit</option>
                    <option value="oldest">Oldest Visit</option>

                </select>

            </div>

        </div>

        <!-- Table Header -->
          <div class="billing-table-wrapper">

        <div class="billing-table">

        <div class="table-header">

            <div (click)="sortTable('patient')">
                Patient Name
                <span class="sort-icon">
                    {{ getSortIcon('patient') }}
                </span>
            </div>

            <div (click)="sortTable('visitDate')">
                Visit Date
                <span class="sort-icon">
                    {{ getSortIcon('visitDate') }}
                </span>
            </div>

            <div>Doctor Name</div>

            <div>Clinic Address</div>

            <div>Total Charge</div>

            <div>Insurance Covered</div>

            <div>Adjustments / Write-Offs</div>

            <div>Patient Responsibility</div>

            <div>Payment Date</div>

            <div>Remaining Balance</div>

            <div>Action</div>

        </div>

        <!-- Bills -->

        <div id="billingContainer">

            @if(paginatedBills().length > 0){

            @for(bill of paginatedBills(); track bill.id){

            <div class="bill-card">

                <!-- Patient -->

                <div class="patient">

                    <img [src]="bill.image" alt="Patient">

                    <div>

                        <strong>{{ bill.patient }}</strong>

                    </div>

                </div>

                <!-- Visit Date -->

                <div>

                    {{ formatDate(bill.visitDate) }}

                </div>

                <!-- Doctor -->

                <div>

                    {{ bill.doctor }}

                </div>

                <!-- Clinic -->

                <div class="pharmacy-info">

                    <a href="javascript:void(0)" (click)="openMap(bill.clinicAddress)">

                        <img src="/assets/images/location-icon.png" class="location-icon">

                    </a>

                    <span>

                        {{ bill.clinicAddress }}

                    </span>

                </div>

                <!-- Total -->

                <div>

                    ₹{{ bill.totalCharge }}

                </div>

                <!-- Insurance -->

                <div>

                    ₹{{ bill.insuranceCovered }}

                </div>

                <!-- Adjustments -->

                <div>

                    ₹{{ bill.adjustments }}

                </div>

                <!-- Responsibility -->

                <div>

                    ₹{{ bill.patientResponsibility }}

                </div>

                <!-- Payment -->

                <div>

                    {{ formatDate(bill.paymentDate) }}

                </div>

                <!-- Balance -->

                <div [class.balance-paid]="bill.remainingBalance===0" [class.balance-due]="bill.remainingBalance>0">

                    ₹{{ bill.remainingBalance }}

                </div>

                <!-- Button -->

                <div>

                    <button class="details-btn" (click)="showDetails(bill)">

                        View Details

                    </button>

                </div>

            </div>

            }

            }

            @else{

            <div class="empty-state">

                <h3>No Billing Records Found</h3>

                <p>

                    No billing records match your search.

                </p>

            </div>

            }

        </div>
        </div>
          </div>

    </div>

    <!-- Pagination -->

    <div class="pagination-wrapper">

        <button (click)="previousPage()" [disabled]="currentPage()===1">

            ←

        </button>

        <span id="pageNumber">

            {{ currentPage() }}

        </span>

        <button (click)="nextPage()" [disabled]="currentPage()===totalPages()">

            →

        </button>

    </div>

</div>

<!-- Modal -->

<div #detailsModal class="modal fade">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">

                    Billing Summary

                </h5>

                <button class="btn-close" data-bs-dismiss="modal">✕</button>

            </div>
            <!-- <div class="modal-header">

                <h5 class="modal-title">

                    Billing Summary

                </h5>

                <button class="btn-close" data-bs-dismiss="modal">
                </button>

            </div> -->

            <div class="modal-body" #printArea>

                @if(selectedBill(); as bill){

                <div class="billing-sheet">

                    <h3>Billing Invoice</h3>

                    <hr>

                    <p>

                        <strong>Patient :</strong>

                        {{ bill.patient }}

                    </p>

                    <p>

                        <strong>Doctor :</strong>

                        {{ bill.doctor }}

                    </p>

                    <p>

                        <strong>Visit Date :</strong>

                        {{ formatDate(bill.visitDate) }}

                    </p>

                    <p>

                        <strong>Clinic :</strong>

                        {{ bill.clinicAddress }}

                    </p>

                    <hr>

                    <p>

                        <strong>Total Charge :</strong>

                        ₹{{ bill.totalCharge }}

                    </p>

                    <p>

                        <strong>Insurance Covered :</strong>

                        ₹{{ bill.insuranceCovered }}

                    </p>

                    <p>

                        <strong>Adjustments :</strong>

                        ₹{{ bill.adjustments }}

                    </p>

                    <p>

                        <strong>Patient Responsibility :</strong>

                        ₹{{ bill.patientResponsibility }}

                    </p>

                    <p>

                        <strong>Payment Date :</strong>

                        {{ formatDate(bill.paymentDate) }}

                    </p>

                    <p>

                        <strong>Remaining Balance :</strong>

                        ₹{{ bill.remainingBalance }}

                    </p>

                </div>

                }

            </div>

            <div class="modal-footer">

                <button class="btn btn-outline-primary" (click)="downloadPDF()">

                    Download PDF

                </button>

                <button class="btn btn-primary" (click)="printBill()">

                    Print Bill

                </button>

            </div>

        </div>

    </div>

</div>