<div class="container">
  <div class="tabs">
    <div class="tab" [class.active]="currentStep === 0" [class.completed]="currentStep > 0">
      PERSONAL INFORMATION
    </div>
    <div class="tab" [class.active]="currentStep === 1" [class.completed]="currentStep > 1">
      ADDRESS
    </div>
    <div class="tab" [class.active]="currentStep === 2">CREDENTIALS</div>
  </div>

  <div class="card">
    <h1>PATIENT SELF-REGISTRATION</h1>

    <form [formGroup]="signupForm">
      <!-- STEP 1 -->
      @if (currentStep === 0) {
      <div>
        <div>
          <div class="form-row">
            <label>First Name<span class="star">*</span></label>
            <input type="text" formControlName="firstName" placeholder="Enter your first name" required
              (keypress)="allowOnlyText($event)" />
          </div>

          @if (f.firstName.touched && f.firstName.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="firstName"></label>
            <small class="text-danger">First Name is required</small>
          </div>
          }
        </div>

        <div class="form-row">
          <label>Middle Name</label>
          <input type="text" formControlName="middleName" placeholder="Enter your middle name"
            (keypress)="allowOnlyText($event)" />
        </div>
        <div>
          <div class="form-row">
            <label>Last Name<span class="star">*</span></label>
            <input type="text" formControlName="lastName" placeholder="Enter your last name" required
              (keypress)="allowOnlyText($event)" />
          </div>
          @if (f.lastName.touched && f.lastName.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="lastName"></label>
            <small class="text-danger">Last Name is required</small>
          </div>
          }
        </div>
        <div>
          <div class="form-row">
            <label>Date Of Birth<span class="star">*</span></label>
            <input type="date" formControlName="dateOfBirth" id="dob" placeholder="Select your date of birth"
              required />
          </div>
          @if (f.dateOfBirth.touched && f.dateOfBirth.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="dob"></label>
            <small class="text-danger">Date of birth is required</small>
          </div>
          }
        </div>

        <div class="form-row">
          <label for="phoneNumber">Phone Number<span class="star">*</span></label>
          <div class="field-container">

            <div class="split-field phone-number-group">
              <select id="phoneCountryCode" formControlName="phoneCountryCode" class="code-select select">
                @for(c of countries; track c) {
                <option [value]="c.phoneCode">{{ c.countryCode }}</option>
                }
              </select>
              <div class="phone-input-wrapper">
                <span class="phone-prefix">
                  {{ signupForm.get('phoneCountryCode')?.value }}
                </span>
                <input class="select" id="phoneNumber" formControlName="phoneNumber" type="tel"
                  placeholder="Enter phone number" required maxlength="10" (keypress)="allowOnlyNumbers($event)">
              </div>
            </div>
            @if(f.phoneNumber.touched && f.phoneNumber.errors?.["required"]) {
            <div class="error-message">
              Phone Number is required
            </div>
            }
          </div>

        </div>

        <div>
          <div class="form-row">
            <label>Email ID<span class="star">*</span></label>
            <input type="email" formControlName="email" placeholder="Enter your email address" required />
          </div>
          @if (f.email.touched && f.email.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="email"></label>
            <small class="text-danger">Email is required</small>
          </div>
          }
        </div>

        <div class="form-row">
          <label>Gender<br /></label>
          <select id="dob" formControlName="gender">
            <option selected>Select gender</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      }

      <!-- STEP 2 -->
      @if (currentStep === 1) {
      <div>
        <div>
          <div class="form-row">
            <label>Address Line 1<span class="star">*</span></label>
            <input type="text" formControlName="addressLine1" placeholder="Enter address line 1" required />
          </div>
          @if (f.addressLine1.touched && f.addressLine1.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="addressLine1"></label>
            <small class="text-danger">Address Line 1 is required</small>
          </div>
          }
        </div>

        <div class="form-row">
          <label>Address Line 2</label>
          <input type="text" formControlName="addressLine2" placeholder="Enter address line 2" />
        </div>
        <div>
          <div class="form-row">
            <label>Country<span class="star">*</span></label>
            <select id="abc" formControlName="countryId" (change)="onCountryChange($event)">
              <option [ngValue]="null">Select Country</option>
              @for (c of countries; track c) {
              <option [value]="c.countryId">{{ c.countryName }}</option>
              }
            </select>
          </div>
          @if (f.countryId.touched && f.countryId.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="city"></label>
            <small class="text-danger">Country name is required</small>
          </div>
          }
        </div>
        <div>
          <div class="form-row">
            <label>State<span class="star">*</span></label>
            <select formControlName="stateId" (change)="onStateChange($event)">
              <option [ngValue]="null" disabled>Select State</option>
              @for (s of states; track s) {
              <option [value]="s.stateId">{{ s.stateName }}</option>
              }
            </select>
          </div>
          @if (f.stateId.touched && f.stateId.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="city"></label>
            <small class="text-danger">State name is required</small>
          </div>
          }
        </div>
        <div>

          <div class="form-row">
            <label>City<span class="star">*</span></label>
            <select formControlName="cityId">
              <option [ngValue]="null" disabled>Select City</option>
              @for (c of cities; track c) {
              <option [value]="c.cityId">{{ c.cityName }}</option>
              }
            </select>
          </div>
          @if (f.cityId.touched && f.cityId.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="city"></label>
            <small class="text-danger">City is required</small>
          </div>
          }
        </div>
        <div>
          <div class="form-row">
            <label>Zip Code<span class="star">*</span></label>
            <input type="text" formControlName="zipCode" placeholder="Enter your zip code" required
              (keypress)="allowOnlyNumbers($event)" />
          </div>
          @if (f.zipCode.touched && f.zipCode.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="zipCode"></label>
            <small class="text-danger">Zip code is required</small>
          </div>
          }
        </div>


      </div>
      }

      <!-- STEP 3 -->
      @if (currentStep === 2) {
      <div>
        <div>
          <div class="form-row">
            <label>User ID<span class="star">*</span></label>
            <input type="text" formControlName="username" placeholder=" Enter your user ID (eg: john_doe123)"
              required />
          </div>
          @if (f.username.touched && f.username.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="userId"></label>
            <small class="text-danger">User ID is required</small>
          </div>
          }
        </div>

        <div>
          <div class="form-row password-wrapper">
            <label>Password<span class="star">*</span></label>
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
              placeholder="Enter your password" required />
            @if(f.password.value){

            @if(showPassword) {
            <img src="assets/images/hide.png" class="toggle-password" (click)="togglePassword()" />

            }@else {
            <img src="assets/images/show.png" class="toggle-password" (click)="togglePassword()" />

            }



            }
          </div>
          @if (f.password.touched && f.password.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="password"></label>
            <small class="text-danger">Password is required</small>
          </div>
          }
        </div>
        <div>
          <div class="form-row password-wrapper">
            <label>Re-enter Password<span class="star">*</span></label>
            <input [type]="showconfirmPasswordPassword ? 'text' : 'password' " formControlName="confirmPassword"
              placeholder="Re-enter your password" required />
            @if(f.confirmPassword.value){

            @if(showconfirmPasswordPassword) {
            <img src="assets/images/hide.png" class="toggle-password" (click)="toggleconfirmPassword()" />

            }@else {
            <img src="assets/images/show.png" class="toggle-password" (click)="toggleconfirmPassword()" />

            }
            }
          </div>
          @if (f.confirmPassword.touched && f.confirmPassword.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="confirmPassword"></label>
            <small class="text-danger">Re-enter Password is required</small>
          </div>
          }
          @if (f.password.value !== f.confirmPassword.value && f.confirmPassword.touched) {
          <div class="form-row mt-0 pt-0">
            <label for="confirmPassword"></label>
            <small class="text-danger">Re-enter Password does not match with Password</small>
          </div>
          }
        </div>
        <div>
          <div class="form-row">
            <label>Security Question<span class="star">*</span></label>
            <select id="securityQuestion" formControlName="securityQuestionId" required>
              <option [ngValue]="null" disabled>Select question</option>
              @for (q of securityQuestions; track q) {
              <option [value]="q.questionId">{{ q.questionText }}</option>
              }

            </select>
          </div>
          @if (f.securityQuestionId.touched && f.securityQuestionId.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="password"></label>
            <small class="text-danger">Security question is required</small>
          </div>
          }
        </div>
        <div>
          <div class="form-row">
            <label>Answer<span class="star">*</span></label>
            <input type="text" formControlName="securityAnswer" placeholder="Enter answer for security question"
              required />
          </div>
          @if (f.securityAnswer.touched && f.securityAnswer.errors?.["required"]) {
          <div class="form-row mt-0 pt-0">
            <label for="password"></label>
            <small class="text-danger">Security answer is required</small>
          </div>
          }
        </div>
      </div>
      }
    </form>

    <div class="buttons">
      @if (currentStep === 0) {
      <button class="btn-outline" routerLink="/login">Back</button>
      }
      @if (currentStep === 2 || currentStep === 1) {

      <button class="btn-outline" (click)="prevStep()">Back</button>
      }

      @if (currentStep === 2) {
      <button (click)="onSubmit()" class="btn-primary">{{this.url === '/profile-update'? 'update' :
        'submit'}}</button>
      } @else {
      <button type="button" class="btn-primary" (click)="nextStep()">{{this.url === '/profile-update'? 'update' :
        'submit'}} and Next</button>
      }
    </div>
  </div>
</div>