<div class="forgot-wrapper">

    <div class="forgot-card">

        <!-- BRAND -->
        <div class="brand">

            <img src="assets/images/logo.png" alt="My MediBook Logo" />

            <div class="brand-text">

                <span class="black-text">My</span>
                <span class="green-text">Medi</span>
                <span class="blue-text">Book</span>

            </div>

        </div>


        <!-- TITLE -->
        <h1>
            Forgot Password
        </h1>


        <p class="description">

            Enter your registered email address or mobile number
            to verify your identity.

            <br><br>

            We'll send you a one-time verification code (OTP).

        </p>


        <!-- FORM -->
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOTP()" novalidate>

            <div class="input-box" [class.active]="identifier?.touched">

                <img src="assets/images/front-office/images/mail.png" alt="Email" />

                <input type="text" formControlName="identifier"
                    placeholder="Enter your registered email or mobile number" autocomplete="username" />

            </div>


            <!-- VALIDATION -->
            @if (submitted && identifier?.hasError('required')) {

            <div class="error-message">
                Please enter your registered email address or mobile number.
            </div>

            }

            @if (submitted && identifier?.hasError('invalidIdentifier')) {

            <div class="error-message">
                Please enter a valid email address or 10-digit mobile number.
            </div>

            }


            <!-- SEND OTP -->
            <button type="submit" class="send-btn">

                <span>
                    Send OTP
                </span>

                <img src="assets/images/front-office/images/arrow-right.png" alt="Arrow" />

            </button>


            <!-- LOGIN LINK -->
            <div class="login-link">

                <span>
                    Remember your password?
                </span>

                <a routerLink="/front-office/login">
                    Back to Login
                </a>

            </div>

        </form>

    </div>

</div>